.search-result{
    grid-column:3/12;
    background-color: green;
}
.search-bar{
    grid-column: 1/3;
    

    
}
.search-page{
    width: 100%;
    display: grid;
    grid-template-columns: auto(12, 1fr);
    background-color: burlywood;
}