.item-body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
    margin: 10px auto;
}
.smartpoint-form{
    grid-column-start: 1;
    grid-column-end: 7;
}
.smartpoint-controller{
    padding: 10px;
    grid-column-start: 9;
    grid-column-end: 13;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.smartpoint-controller *{
    width: 100%;
    word-wrap: break-word;
}
.selected{
    background-color: rgb(224, 224, 224);
}