.smartpoint-container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.485);
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
 
    transform: translate3d(-50%, -50%,0)
}
.smartpoint-mid-circle{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in;

}
.smartpoint-inner-circle{
    width: 10px;
    height: 10px;
    background-color: rgb(63, 109, 226);
    border-radius: 50%;
    transition: all 0.1s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smartpoint-container:hover  .smartpoint-mid-circle{
    background-color: rgb(63, 109, 226);
     width: 22px;
    height: 22px;
}
.smartpoint-container:hover  .smartpoint-inner-circle{
    background-color: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
}
.smartpoint-container:hover  .endpoint{
    
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
}

.selected{
    background-color: rgb(245, 56, 56);
}